.App {
  text-align: center;
  border: solid 2px rgb(207, 147, 69);
  background-color: rgb(240, 225, 185);
  padding: 50px;
  border-radius: 20%;
  margin: 30px;
}

.todo {
  position: relative;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.tododiv {
  background-color: rgb(183, 217, 236);
  border: 1.5px solid rgb(37, 107, 148);
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  margin: 10px 0 10px 0;
  font-weight: 600;
}

.todotext {
  margin: 3px;
  text-align: start;
  padding-left: 0;
  font-size: 25px;
}

.todoaddress {
  text-align: start;
}

.todocreat {
  text-align: end;
}

.inputarea {
  padding: 10px;
  border: black 2px solid;
  border-radius: 5px;
  width: 235px;
}

.inputbtn {
  padding: 10px;
  border: black 2px solid;
  border-radius: 5px;
  cursor: pointer;
}

.delbtn {
  position: absolute;
  top: 0;
  right: 0;
  translate: 50% 50%;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 5px;
  background-color: pink;
  border: rgb(236, 42, 74) 2px solid;
  font-size: 25px;
}

@media (min-width: 768px) { 
  .todo {
    width: 50%;
    left: 25%;
  }
}